@media screen and (min-width: 768px) {
    main {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 
        "hero hero"
        "cta cta"
        "events weather"
        "spotlights spotlights";
    }
  
    #hero {
      grid-area: hero;
    }
  
    #cta {
      grid-area: cta;
    }
  
    #events {
      grid-area: events;
    }
  
    #weather {
      grid-area: weather;
    }
  
    #spotlights {
      grid-area: spotlights;
    }
  
    section {
      padding: 2rem;
    }
  }
  